{% extends 'base.html' %}

{% block content %}

<br>
{% for blog in posts %} 
    <div class=container>
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">{{blog.title}}</h1>
          <p class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</p>
          <p class="card-text">{{blog.summary}} 
            <a href="{% url 'detail' blog.id%}">...more</a></p>
        </div>
      </div>
    </div>
    <br>
      {% endfor %}
    
    <div class="container">
    {# First Previous#}
      {%if posts.has_previous%} {#만약 이전페이지가 있다면 #}
    <a href="?page=1">First</a>
    <a href="?page={{posts.previous_page_number}}">Previous</a>
    {%endif%}
    {#현재 페이지 번호#}
    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span>
    {#Next Last #}
    {%if posts.has_next%}
    <a href="?page={{posts.next_page_number}}">Next</a>
    <a href="?page={{posts.paginator.num_pages}}">Last</a> {#num_pages = 전체 페이지의 수 #}
    {%endif%}
    </div>

    </div>
    {% endblock %}